<%= render partial: "shared/banner" %>
<div class="container-fluid events-list">
  <div class="row">
    <div class="container">
      <%= render partial: "shared/flash", flash: flash %>
    </div>
  </div>

  <% @events.in_groups_of(3) do |g| %>
  <div class="row">
    <% g.compact.each do |e| %>
        <%= render partial: 'card', locals: {event: e} %>
    <% end %>
  </div>
  <% end %>
</div>